<html>

<head>
    <title>Search page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
        #imaginary_container {
            margin-top: 20%; /* Don't copy this */
        }

        .stylish-input-group .input-group-addon {
            background: white !important;
        }

        .stylish-input-group .form-control {
            border-right: 0;
            box-shadow: 0 0 0;
            border-color: #ccc;
        }

        .stylish-input-group button {
            border: 0;
            background: transparent;
        }

        .ui-helper-hidden-accessible {
            display: none;
        }

        .ui-autocomplete {
            list-style-type: none;
            background-color: blanchedalmond;
        }
    </style>
</head>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search" id="searchContent">
                    <!--<datalist id="suggestions">-->
                    <!--<option v-for="suggest in suggestions" v-bind:value="suggest">-->
                    <!--</datalist>-->
                    <span class="input-group-addon">
                        <select class="custom-select" id="sort-by">
                            <option selected value="">default</option>
                            <option value="pageRankFile">PageRankFile</option>
                        </select>
                        <select class="custom-select" id="order">
                            <option selected value="asc">ASC</option>
                            <option value="desc">DESC</option>
                        </select>
                        <button type="submit" id="search">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="correction-container">
    <p v-if="correction">Do you mean: <a v-on:click="click()">{{correction}}</a></p>
</div>
<div class="container" id="result-container">
    <div class="card" v-for="result in results" style="border-bottom: 1px dashed;">
        <div class="card-body">
            <h5 class="card-title">Title(clickable): <a v-bind:href="result.url">{{result.title?result.title:'NA'}}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted"><a v-bind:href="result.url">URL: {{result.url}}</a></h6>
            <h6 class="card-subtitle mb-2 text-muted">ID: {{result.id}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Publish Data: {{result.publishedDateTime?result.publishedDateTime:'NA'}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Site Name: {{result.siteName?result.siteName:'NA'}}</h6>
            <p class="card-text">Description: {{result.ogDescription?result.ogDescription:'NA'}}</p>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script>
    $("#search").click(function () {
        search();
        correct();
    });
    // $("#searchContent").change(function () {
    //     var text = $("#searchContent").val();
    //     if (text.length > 0) {
    //         suggest();
    //     }
    // });
    var result_container = new Vue({
        el: '#result-container',
        data: {
            results: []
        }
    });
    var correction_container = new Vue({
        el: "#correction-container",
        data: {
            correction: null
        },
        methods: {
            click: function () {
                var text =  $("#correction").text();
                $("#searchContent").text(text);
                search();
            }
        }
    });
    $("#correction").click(function (event) {
       
    });
    $("#searchContent").autocomplete({
        minLength: 0,
        source: function (request, response) {
            $.ajax({
                url: "http://localhost:8080/mercury/suggest/" + request.term,
                dataType: "json",
                success: function (data) {
                    response(data);
                }
            });
        }
    });
    // var search_container = new Vue({
    //     el: '#query-container',
    //     data: {
    //         suggestions: []
    //     },
    //     methods: {
    //         suggest() {
    //             var text = $("#searchContent").val();
    //             $.ajax({
    //                 type: "GET",
    //                 async: false,
    //                 url: "http://localhost:8080/mercury/suggest/" + text,
    //                 processData: true,
    //                 success: function (result) {
    //                     search_container.suggestions = result;
    //                 }
    //             })
    //         }
    //     }
    // });

    function suggest() {
        var text = $("#searchContent").val();
        $.ajax({
            type: "GET",
            async: false,
            url: "http://localhost:8080/mercury/suggest/" + text,
            processData: true,
            success: function (result) {
                search_container.suggestions = result;
            }
        })
    }

    function search() {
        var text = $("#searchContent").val();
        var sortBy = $("#sort-by").val();
        var order = $("#order").val();
        $.ajax({
            type: "GET",
            async: false,
            url: "http://localhost:8080/mercury/" + text + "?sort=" + sortBy + "&direction=" + order,
            processData: true,
            success: function (result) {
                result_container.results = result;
            }
        });
    }

    function correct() {
        var text = $("#searchContent").val();
        $.ajax({
            type: "GET",
            async: false,
            url: "http://localhost:8080/mercury/correction/" + text,
            processData: true,
            success: function (result) {
                if (result != text) {
                    correction_container.correction = result;
                }
            }
        })
    }
</script>
</body>

</html>